<template name="home">
  <div class="row" style="height:130px;"></div>
	<div class="container">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-4">
				{{>signup}}
		</div>
		<div class="col-xs-4">
		</div>
	</div>
</template>
<template name="success">

</template>
<template name="signup">
      <img class="img-responsive" style="padding:30px;" src="http://localhost:3000/logo.png"/>
  		<div class="form-group full-width">
  			<div class="quarter-width padding-top">
  				<input type="telephone" class="form-control wire full-width" placeholder="Phone Number" id="signup-telephone-input">
  			</div>
  			<div class="quarter-width padding-top">
  				<a href="#" class="btn btn-success full-width" id="signup-twitter-button">Twitter</a>
  			</div>
  			<div class="quarter-width padding-top">
  				<a href="#" class="btn btn-info full-width" id="signup-facebook-button">Facebook</a>
  			</div>
  		</div>
</template>